@tailwind base;
@tailwind components;
@tailwind utilities;

.article-container h1,
h2,
h3 {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.article-container h1 {
  font-size: 2.5rem;
}

.article-container h2 {
  font-size: 2rem;
}

.article-container h3 {
  font-size: 1.5rem;
}

.article-container p {
  margin-bottom: 1.5rem;
}

.article-container a {
  text-decoration: underline;
}

.landing-container {
  height: calc(100vh - 107px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-wide;
}

h1 {
  @apply text-4xl font-bold my-4;
}

h2 {
  @apply text-3xl font-semibold my-3;
}

h3 {
  @apply text-2xl font-semibold my-2;
}

h4 {
  @apply text-xl font-medium my-2;
}

h5 {
  @apply text-lg font-medium my-1;
}

h6 {
  @apply text-base font-medium my-1;
}