@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir Variable";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Agrandir-Heavy.ttf");
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("/fonts/IBMPlexSans-Bold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono Light";
  src: url("/fonts/IBMPlexMono-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Mono SemiBold";
  src: url("/fonts/IBMPlexMono-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter Bold";
  src: url("/fonts/Inter-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular LL";
  src: url("/fonts/CircularLL-Book.ttf");
  font-weight: 450;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

.font-title {
  font-family: var(--font-agrandirVariable);
}

.font-mono {
  font-family: var(--font-IBMPlexSans);
}

.font-body{
  font-family: var(--font-circular);
}